
body {
background-image: url(kakku.png);
background-color: #ffffff;
/* NOTE check https://designshack.net/articles/trends/best-website-color-schemes/ for Bold by Nature */
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
font-family: Raleway, sans-serif;
margin: 0;
}

/* grid-container pitää vielä selvittää. En muista miksi olen lisäänyt sen yhteen html koodiin */
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap:  5px;
  background-color: transparent;
  padding: 10px;
}

h1 {
text-align: center;
letter-spacing: .2em;
font-size: 1.5em;
color: #000000;
margin-top: 1.5em;
margin-left: 10%;
}

h2 {
color: #000000;
font-size: 1.5em;
margin: 1em;
}
	
p {
color: #000000;
margin: 2em;
}

ul.nav {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
position: fixed;
top: 0;
width: 100%;
font-size: 1.5em;
background-color: #dddd;
}

ul.nav li {
float: left;
border-right: 1px solid;
}

ul.nav li a {
color: #000000;
display: block;

text-align: center;
padding: .4em .4em;
text-decoration: none;
}

ul.nav li a:hover{
background-color: #7B9974;
}
ul.nav li a.active{
  background-color: #7B9974;
}
.index {
color: #ffffee;
}