body {
background-color: #ffffff;
font-family: Raleway, sans-serif;
}

.header_image a img {
padding-top: 120px;
width: 100%;
height: auto;
}

.header_list ul.nav {
list-style-type: none;
display: block;
width: 100%;
font-size: 1.5em;
background-color: #172D13;
opacity: 0.96;
position: fixed;
top: 20px;
padding: 10px 10px;
z-index: 5;
}

.header_list ul.nav a {
color: #ffffff;
display: block;
float: left;
text-align: center;
padding: .5em;
text-decoration: none;
}

.header_list ul.nav li a:hover {
  color: #ffffff;
  background-color: #D76F11;
}

.header_list ul.nav li a.active {
  color: #ffffff;
  background-color: #D76F11;
}

.header_list a.icon img {
display: block;
float: left;
height: 32px;
width: 32px;
padding: 4px;
}

h1 {
text-align: center;
letter-spacing: .2em;
font-size: 1.5em;
color: #000000;
margin-top: 1.5em;
}

h2 {
color: #000000;
font-size: 1.5em;
margin: 1em;
}
	
p {
color: #000000;
margin: 1em 2em;
}

.title {
padding-top: 10em;
text-align: center;
}

.page {
padding: 1em
}

.title p.center {
text-align: center;
}

.page .yhteys {
text-align: center;
}

footer {
color: #ffffee;
text-align: center;
font-size: .8em;
margin-bottom: 10%;
}

@media screen and (max-width: 600px) {
  .header_list ul.nav a {
    text-align: center;
    float: none;
  }
  .title {
    padding-top: 198px;
  }

  .header_image a img {
    padding-top: 230px;
    width: 100%;
    height: auto;
  }
}
